@import url(https://fonts.googleapis.com/css?family=Inconsolata);


@font-face {
    font-family: "Inconsolata";
    src: url(../fonts/Inconsolata.ttf);
}

@font-face {
    font-family: "CREABBRG";
    src: url(../fonts/CREABBRG.ttf);
}

#custom-font{
	font-family: prueba;
}



* {
    box-sizing: border-box;
}


.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */


.input-contenedor-incorrecto .formulario__label {
	color: #bb2929 !important;
}

.input-contenedor-incorrecto .formulario__validacion-estado{
	color: #bb2929 !important;

}

.input-contenedor-incorrecto .formulario__input{
	border: 3px solid #bb2929 !important;
}


body {
    margin: 0;
    font-family: "Inconsolata"

}

img {
    display: block;
    width: 100%;
}


.main {
    padding: 0px 20px;
    padding-bottom: 20px;
}

.main-header {
    padding: 0 30px;
    background:black;
    color: white;
}

.main-header__title {
    text-align: center;
    font-size: 2.5em;
    margin: 10px 0;
    color: white;
    font-family: "CREABBRG";
}


/*ESTILOS MENU*/
.main-nav {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  z-index: 999999;
}
.menu{
  position: absolute;
  top: 149px;
  left: 0;
  background: #212121;
  width: 100%;
  list-style: none;
  padding: 0px;
  margin: 0;
}
.menu__item {
  text-align: center;
  margin: auto;
  
}
.menu__link {
  padding: 20px;
  color: white;
  text-decoration: none; /*con esto quito el subrayado*/
  position: relative;
  display: block;
}
.menu__link:hover {
  background: white;
  color: #212121;
}

.mostrar{
  opacity: 1;
  visibility: visible;
}

.main-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.last-mangas-title {
    background: #D3D1CE;
    padding: 20px;
    text-align: center
}

.promos-title {
    background: #FF3B53;
    padding: 20px;
    text-align: center;
     color: white;
}

.icon-menu{
  font-size: 1.5em;
  border: 1px solid white; 
  display: block;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: auto;
}


.main-header__btn {

    display: block;
    padding: 10px 30px;
    color: white;
    border: 1px solid #454546;
    text-decoration: none;
}


/* ESTILOS DE SLIDER */
.container-slider {
    margin: 50px 0;
    position: relative;
    overflow: hidden;
    /*Con esto evito la barra horizontal*/
}

.slider {
    display: flex;
    width: 400%;
    height: 300px;
    margin-left: -100%;
    position: relative;


}

.slider:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
}

.slider__section {
    width: 100%;
    position: relative;
}

.slider__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 999;
}

.slider__btn:hover {
    background: #fff;
}

.slider__btn--left {
    left: 10px;
}

.slider__btn--right {
    right: 10px;
}

.slider__content {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    width: 60%;
    text-align: center;
    z-index: 999;
}

.slider__title {
    font-size: 2.2em;
    margin: 0;
}

.slider__txt {
    margin: 5px 0;
}


.btn-shop {
    display: block;
    border: 4px solid #FF3B53;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 170px;
    margin: 20px auto;
    transition: all 0.5s;
}

.btn-shop:hover {
    background: #FF3B53;
    color: white;

}



/*ESTILO PRODUCTOS*/



.container-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;

}

.product {
    border: 1px solid black;
    text-align: center;
    position: relative;
    padding: 10px;
}


.product .product__img:hover {
    transform: scale(1.06);
    cursor: pointer;
    display: block;

}


.product__new {
    background: #FF3B53;
    padding: 5px 0px;
    position: relative;
    color: white;
    border: 2px solid black;
}

.product__img {
    height: 150px;
    object-fit: cover;
    display: block;
    border: 2px solid black;

}

.product__title {
    text-align: center;
}

.product__price {
    color: #FF4E00;
    font-weight: bold;
    font-size-adjust: auto;
}

.product__icon {
    display: block;
    margin-top: 10px;
    cursor: pointer;
}

.product__icon:hover {
    color: #FF4E00;
}

.price_and_cart {
    padding: 10px 0px;
}

/*ESTILOS SOBRE NOSOTROS*/
.main-about{
   
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
  margin:100px
  
}

.about__txt{
	padding: 0px 20px;
    padding-bottom: 20px;
	
}


/*ESTILO FOOTER*/

.main-footer {
    background: white;
    color: black;


}

.footer__txt {
    color: #555;
}

.footer__info {
    background: #FF3B53;
    color: white;
    
}


.truck__fast {
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-right: 3px solid white;
}

.txt_info {
    font-weight: bold;
    padding-left: 10px;
    padding-right: 20px;
    
}

.footer__bottom {
    background: #151515;
    color: white;
    padding: 30px 20px;
}

.footer__title {
    border-bottom: 1px dotted #555;
    padding-bottom: 20px;
}


.footer__link {
    color: #555;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.footer__input {
    background: #151515;
    width: 100%;
    display: block;
    padding: 20px;
    border: 1px solid #555;
}

.copy {
    color: #555;
}

.button_type{
	
	color:white;
    border: none;
    width: 100%;
    background: rgb(0, 0, 0,0.9);
    font-size: 20px;
    transition: all 0.5s;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.button_type:hover{
    background: #FF3B53;
     color: white;
}

.form_type_product{
	padding: 10px;
	
}

.type__product{

	display: flex;
}


/*Estilos para web*/

@media screen and (min-width:1024px) {


    .container {
        width: 1000px;
        margin: auto;
    }

    .icon-menu {
        display: none;
    }

    .main-header .container--flex {
        display: flex;
        align-items: center;
    }

    .main-header__container {
        flex-wrap: wrap;
        align-content: flex-start;
    }

    .main-header__txt {
        width: 100%;
    }

    .main-header__container:nth-child(2) {
        order: -1;
        width: 25%;
    }

    .main-header__container:nth-child(3) {
        width: 25%;
        padding: 0 20px;
    }

    .main-header__title {
        width: 100%;
        font-size: 4em;
        margin: 0;
        border-bottom: 1px solid #ccc;
    }

    .main-header__link {
        margin-bottom: 20px;
    }

    .main-header__btn {
        width: 130px;
        padding: 10px;
        margin-bottom: 20px;
    }

    .main-header__input {
        width: 85%;
    }

    .main-nav {
        visibility: visible;
        opacity: 1;
        width: 100%;
        margin-top: 20px;
    }

    .menu {
        position: static;
        width: 100%;
        display: flex;
        background: none;
    }

    .menu__link {
        color: white;
    }

    .menu__link:hover {
        background: #333;
        color: white;
    }

    .container-products {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
    }

    .product__img {
        height: 250px;
    }

    .container__testimonials {
        font-size: 1.3em;
    }

    .footer__info {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}
   

    .footer__bottom {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
    }

    .copy {
        grid-column-start: span 4;
        text-align: center;
    }
}




@media screen and (min-width:1280px) {
    .container {
        width: 1200px;
        margin: auto;
    }

    .main-header__container:nth-child(3) {
        padding-left: 60px;
    }

    .main-header__container:nth-child(2) {
        font-size: 1.3em;
    }

    .product__img {
        height: 250px;
    }

    .slider {
        height: 500px;
        font-size: 1.5em;
    }
    
    
}

@media screen and (min-width:1600px) {
    .container {
        width: 1000px;
    }

    .product__img {
        height: 250px;
    }

    .main-header__container:nth-child(3) {
        padding-left: 150px;
    }

    .main-header__container:nth-child(2) {
        font-size: 1.5em;
    }

    .slider {
        height: 600px;
    }

    .product__img {
        height: 200px;
    }
}

@media screen and (min-width:1900px) {
    .container {
        width: 1800px;
    }

    .product__img {
        height: 450px;
    }

    .main-header__container:nth-child(3) {
        padding-left: 350px;
    }

    .main-header__container:nth-child(2) {
        font-size: 1.5em;
    }

    .slider {
        height: 400px;
    }


    .product__img {
        height: 200px;
    }
}
