body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: url(https://img.freepik.com/foto-gratis/fondo-borroso-oscuro-abstracto-color-textura-degradado-suave-patron-sitio-web-brillante-brillante-encabezado-banner-o-imagen-arte-grafico-barra-lateral_1258-83087.jpg?w=996&t=st=1667998312~exp=1667998912~hmac=d30d5752f6d79454ab511745c8516fcc888c58e2c7ef208e3d95d795ca9a4b80);
    background-size: cover;
    background-attachment: fixed;
}
* {
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
     background: rgb(0, 0, 0,0.7);
    margin-top: 150px;
    padding: 3px;
    color: white
}



h1{
    text-align: center;
    color: white;
    font-size: 40px;
}
input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
     background: rgb(255,255, 255,0.7);
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
	
    border: none;
    width: 100%;
    background: rgb(255,255, 255,0.9);
    font-size: 20px;
    transition: all 0.5s;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: #FF3B53;
     color: white;
}

p{
    text-align: center;
}
.link{
    text-decoration: none;
     color: rgb(254, 146, 146);
    font-weight: 600;
}
.link:hover{
     color: rgb(217, 255, 233);
}
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 10px;
        border-radius: 2%;
    }
    
    .back__container{
	
	 width: 500px; 
	 margin: auto;
     
}
}